In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import datetime
import sys


# new import added by Lewis
import math

In [46]:
# directory with interim charles river data results
results_file = "../data/charles_river_samples_interim/results_merged_cleaned.csv"

In [47]:
results = pd.read_csv(results_file)

In [97]:
for timevalues in ( results['Date_Collected_Time_Collected'] ).iteritems():
    if( len(timevalues[1])< 19 ):
        print( timevalues )

(6406, '2006-08-03 nan')
(6448, '2016-07-05 nan')
(6449, '2016-07-05 nan')
(6450, '2016-07-05 nan')
(13941, '2010-07-07 nan')
(13942, '2010-07-07 nan')
(13943, '2010-07-07 nan')
(13944, '2010-07-07 nan')
(13945, '2010-07-14 nan')
(13946, '2010-07-14 nan')
(13947, '2010-07-14 nan')
(13948, '2010-07-14 nan')
(13949, '2010-07-21 nan')
(13950, '2010-07-21 nan')
(13951, '2010-07-21 nan')
(13952, '2010-07-21 nan')
(13953, '2010-07-28 nan')
(13954, '2010-07-28 nan')
(13955, '2010-07-28 nan')
(13956, '2010-07-28 nan')
(13957, '2010-08-04 nan')
(13958, '2010-08-04 nan')
(13959, '2010-08-04 nan')
(13960, '2010-08-04 nan')
(13961, '2010-08-11 nan')
(13962, '2010-08-11 nan')
(13963, '2010-08-11 nan')
(13964, '2010-08-11 nan')
(13965, '2010-08-19 nan')
(13966, '2010-08-19 nan')
(13967, '2010-08-19 nan')
(13968, '2010-08-19 nan')
(13969, '2010-08-26 nan')
(13970, '2010-08-26 nan')
(13971, '2010-08-26 nan')
(13972, '2010-08-26 nan')
(13973, '2010-09-09 nan')
(13974, '2010-09-09 nan')
(13975, '2010-09-09 nan')
(13976, '2010-09-09 nan')
(13977, '2010-09-16 nan')
(13978, '2010-09-16 nan')
(13979, '2010-09-16 nan')
(13980, '2010-09-16 nan')
(13981, '2010-09-23 nan')
(13982, '2010-09-23 nan')
(13983, '2010-09-23 nan')
(13984, '2010-09-23 nan')
(13985, '2010-09-30 nan')
(13986, '2010-09-30 nan')
(13987, '2010-09-30 nan')
(13988, '2010-09-30 nan')
(13989, '2010-10-07 nan')
(13990, '2010-10-07 nan')
(13991, '2010-10-07 nan')
(13992, '2010-10-07 nan')
(13993, '2010-10-21 nan')
(13994, '2010-10-21 nan')
(13995, '2010-10-21 nan')
(13996, '2010-10-21 nan')
(15163, '2008-01-29 nan')
(15164, '2008-01-29 nan')
(15165, '2008-02-12 nan')
(15166, '2008-02-12 nan')
(15167, '2008-03-12 nan')
(15168, '2008-03-12 nan')
(15169, '2008-04-09 nan')
(15170, '2008-04-09 nan')
(15171, '2008-05-08 nan')
(15172, '2008-06-23 nan')
(15173, '2008-06-23 nan')
(15174, '2008-06-23 nan')
(15175, '2008-07-22 nan')
(15176, '2008-07-22 nan')
(15177, '2008-07-22 nan')
(15178, '2008-08-21 nan')
(15179, '2008-09-04 nan')
(15180, '2008-09-04 nan')
(15181, '2008-09-04 nan')
(15182, '2008-09-10 nan')
(15197, '2008-10-02 nan')
(15198, '2008-11-18 nan')
(15199, '2008-11-18 nan')
(15200, '2008-12-18 nan')
(15201, '2008-12-18 nan')
(17805, '2000-08-25 nan')
(22236, '2006-05-01 nan')
(22237, '2006-05-01 nan')
(22238, '2006-05-01 nan')
(22239, '2006-05-01 nan')
(22240, '2006-05-01 nan')
(22241, '2006-05-01 nan')
(22242, '2006-05-01 nan')
(22243, '2006-05-01 nan')
(22244, '2006-10-02 nan')
(22245, '2006-10-02 nan')
(22246, '2006-10-02 nan')
(22247, '2006-10-02 nan')
(22248, '2006-10-02 nan')
(22249, '2006-10-02 nan')
(22250, '2006-10-02 nan')
(22256, '2007-08-06 nan')
(22257, '2007-08-06 nan')
(22258, '2007-08-06 nan')
(22259, '2007-08-06 nan')
(22260, '2007-08-06 nan')
(22261, '2007-08-06 nan')
(22262, '2007-08-06 nan')
(22263, '2007-08-06 nan')
(22264, '2007-08-06 nan')
(22265, '2007-10-09 nan')
(22266, '2007-10-09 nan')
(22267, '2007-10-09 nan')
(22268, '2007-10-09 nan')
(22269, '2007-10-09 nan')
(22270, '2007-10-09 nan')
(22271, '2007-10-09 nan')
(22272, '2007-10-09 nan')
(22273, '2007-10-09 nan')
(22274, '2007-10-09 nan')
(22275, '2007-10-09 nan')
(22276, '2007-11-13 nan')
(22277, '2008-07-18 nan')
(22278, '2008-07-18 nan')
(22279, '2008-07-18 nan')
(22280, '2008-07-18 nan')
(22281, '2008-07-18 nan')
(22282, '2008-07-18 nan')
(22283, '2008-07-18 nan')
(22284, '2008-07-18 nan')
(22285, '2008-07-24 nan')
(23208, '2007-08-06 nan')
(23209, '2007-08-06 nan')
(23210, '2007-08-06 nan')
(23211, '2007-08-06 nan')
(23212, '2007-08-06 nan')
(23213, '2007-08-06 nan')
(23214, '2007-08-06 nan')
(23215, '2007-08-06 nan')
(23216, '2007-08-06 nan')
(23217, '2007-08-06 nan')
(23218, '2007-10-09 nan')
(23219, '2007-10-09 nan')
(23220, '2007-10-09 nan')
(23221, '2007-10-09 nan')
(23222, '2007-10-09 nan')
(23223, '2007-10-09 nan')
(23224, '2007-10-09 nan')
(23225, '2007-10-09 nan')
(23226, '2007-10-09 nan')
(23227, '2007-10-09 nan')
(23228, '2007-10-09 nan')
(23229, '2007-11-28 nan')
(23230, '2007-11-28 nan')
(23231, '2008-01-29 nan')
(23232, '2008-01-29 nan')
(23233, '2008-02-12 nan')
(23234, '2008-02-12 nan')
(23235, '2008-03-12 nan')
(23236, '2008-03-12 nan')
(23237, '2008-04-09 nan')
(23238, '2008-04-09 nan')
(23239, '2008-05-08 nan')
(23240, '2008-05-08 nan')
(23241, '2008-06-23 nan')
(23242, '2008-07-18 nan')
(23243, '2008-07-18 nan')
(23244, '2008-07-18 nan')
(23245, '2008-07-18 nan')
(23246, '2008-07-18 nan')
(23247, '2008-07-18 nan')
(23248, '2008-07-22 nan')
(23249, '2008-07-22 nan')
(23250, '2008-07-22 nan')
(23251, '2008-07-24 nan')
(23252, '2008-07-24 nan')
(23253, '2008-07-24 nan')
(23254, '2008-07-24 nan')
(23255, '2008-07-24 nan')
(23256, '2008-07-24 nan')
(23257, '2008-07-24 nan')
(23258, '2008-07-24 nan')
(23259, '2008-07-24 nan')
(23260, '2008-07-24 nan')
(23261, '2008-07-24 nan')
(23262, '2008-07-24 nan')
(23263, '2008-07-24 nan')
(23264, '2008-07-24 nan')
(23265, '2008-08-21 nan')
(23266, '2008-09-04 nan')
(23267, '2008-09-04 nan')
(23268, '2008-09-04 nan')
(23269, '2008-09-10 nan')
(23286, '2008-10-02 nan')
(23287, '2008-10-02 nan')
(23288, '2008-10-02 nan')
(23289, '2008-11-18 nan')
(23290, '2008-11-18 nan')
(23291, '2008-12-18 nan')
(23292, '2008-12-18 nan')
(25607, '1998-05-11 nan')
(25608, '1998-05-11 nan')
(25609, '1998-05-11 nan')
(25610, '1998-05-12 nan')
(25611, '1998-05-12 nan')
(25612, '1998-05-12 nan')
(25613, '1998-05-12 nan')
(25614, '1998-05-13 nan')
(25615, '1998-05-13 nan')
(25616, '1998-05-13 nan')
(25617, '1998-05-13 nan')
(25618, '1998-05-14 nan')
(25619, '1998-05-14 nan')
(25620, '1998-05-14 nan')
(25621, '1998-05-14 nan')
(25622, '1998-05-15 nan')
(25623, '1998-05-15 nan')
(25624, '1998-05-15 nan')
(25625, '1998-05-15 nan')
(25626, '1998-05-18 nan')
(25627, '1998-05-18 nan')
(25628, '1998-05-18 nan')
(25629, '1998-05-18 nan')
(25630, '1998-05-19 nan')
(25631, '1998-05-19 nan')
(25632, '1998-05-19 nan')
(25633, '1998-05-19 nan')
(25634, '1998-05-20 nan')
(25635, '1998-05-20 nan')
(25636, '1998-05-20 nan')
(25637, '1998-05-20 nan')
(25638, '1998-05-21 nan')
(25639, '1998-05-21 nan')
(25640, '1998-05-21 nan')
(25641, '1998-05-21 nan')
(25642, '1998-05-22 nan')
(25643, '1998-05-22 nan')
(25644, '1998-05-22 nan')
(25645, '1998-05-22 nan')
(25646, '1998-05-26 nan')
(25647, '1998-05-26 nan')
(25648, '1998-05-26 nan')
(25649, '1998-05-26 nan')
(25650, '1998-05-26 nan')
(25651, '1998-05-27 nan')
(25652, '1998-05-27 nan')
(25653, '1998-05-27 nan')
(25654, '1998-05-27 nan')
(25655, '1998-05-28 nan')
(25656, '1998-05-28 nan')
(25657, '1998-05-28 nan')
(25658, '1998-05-28 nan')
(25659, '1998-05-29 nan')
(25660, '1998-05-29 nan')
(25661, '1998-05-29 nan')
(25662, '1998-05-29 nan')
(25663, '1998-06-01 nan')
(25664, '1998-06-01 nan')
(25665, '1998-06-01 nan')
(25666, '1998-06-01 nan')
(25667, '1998-06-02 nan')
(25668, '1998-06-02 nan')
(25669, '1998-06-02 nan')
(25670, '1998-06-02 nan')
(25671, '1998-06-02 nan')
(25672, '1998-06-03 nan')
(25673, '1998-06-03 nan')
(25674, '1998-06-03 nan')
(25675, '1998-06-03 nan')
(25676, '1998-06-03 nan')
(25677, '1998-06-04 nan')
(25678, '1998-06-04 nan')
(25679, '1998-06-04 nan')
(25680, '1998-06-04 nan')
(25681, '1998-06-05 nan')
(25682, '1998-06-05 nan')
(25683, '1998-06-05 nan')
(25684, '1998-06-05 nan')
(25685, '1998-06-08 nan')
(25686, '1998-06-08 nan')
(25687, '1998-06-08 nan')
(25688, '1998-06-08 nan')
(25689, '1998-06-08 nan')
(25690, '1998-06-09 nan')
(25691, '1998-06-09 nan')
(25692, '1998-06-09 nan')
(25693, '1998-06-09 nan')
(25694, '1998-06-09 nan')
(25695, '1998-06-10 nan')
(25696, '1998-06-10 nan')
(25697, '1998-06-10 nan')
(25698, '1998-06-10 nan')
(25699, '1998-06-11 nan')
(25700, '1998-06-11 nan')
(25701, '1998-06-11 nan')
(25702, '1998-06-11 nan')
(25703, '1998-06-11 nan')
(25704, '1998-06-12 nan')
(25705, '1998-06-12 nan')
(25706, '1998-06-12 nan')
(25707, '1998-06-12 nan')
(25708, '1998-06-15 nan')
(25709, '1998-06-15 nan')
(25710, '1998-06-15 nan')
(25711, '1998-06-15 nan')
(25712, '1998-06-15 nan')
(25713, '1998-06-16 nan')
(25714, '1998-06-16 nan')
(25715, '1998-06-16 nan')
(25716, '1998-06-16 nan')
(25717, '1998-06-16 nan')
(25718, '1998-06-17 nan')
(25719, '1998-06-17 nan')
(25720, '1998-06-17 nan')
(25721, '1998-06-17 nan')
(25722, '1998-06-17 nan')
(25723, '1998-06-18 nan')
(25724, '1998-06-18 nan')
(25725, '1998-06-18 nan')
(25726, '1998-06-18 nan')
(25727, '1998-06-18 nan')
(25728, '1998-06-19 nan')
(25729, '1998-06-19 nan')
(25730, '1998-06-19 nan')
(25731, '1998-06-22 nan')
(25732, '1998-06-22 nan')
(25733, '1998-06-22 nan')
(25734, '1998-06-22 nan')
(25735, '1998-06-22 nan')
(25736, '1998-06-23 nan')
(25737, '1998-06-23 nan')
(25738, '1998-06-23 nan')
(25739, '1998-06-23 nan')
(25740, '1998-06-24 nan')
(25741, '1998-06-24 nan')
(25742, '1998-06-24 nan')
(25743, '1998-06-24 nan')
(25744, '1998-06-24 nan')
(25745, '1998-06-25 nan')
(25746, '1998-06-25 nan')
(25747, '1998-06-25 nan')
(25748, '1998-06-25 nan')
(25749, '1998-06-25 nan')
(25750, '1998-06-26 nan')
(25751, '1998-06-26 nan')
(25752, '1998-06-26 nan')
(25753, '1998-06-26 nan')
(25754, '1998-06-26 nan')
(25755, '1998-06-29 nan')
(25756, '1998-06-29 nan')
(25757, '1998-06-29 nan')
(25758, '1998-06-29 nan')
(25759, '1998-06-29 nan')
(25760, '1998-06-30 nan')
(25761, '1998-06-30 nan')
(25762, '1998-06-30 nan')
(25763, '1998-06-30 nan')
(25764, '1998-06-30 nan')
(25765, '1998-07-01 nan')
(25766, '1998-07-01 nan')
(25767, '1998-07-01 nan')
(25768, '1998-07-01 nan')
(25769, '1998-07-01 nan')
(25770, '1998-07-02 nan')
(25771, '1998-07-02 nan')
(25772, '1998-07-02 nan')
(25773, '1998-07-02 nan')
(25774, '1998-07-02 nan')
(25775, '1998-07-06 nan')
(25776, '1998-07-06 nan')
(25777, '1998-07-06 nan')
(25778, '1998-07-06 nan')
(25779, '1998-07-06 nan')
(25780, '1998-07-07 nan')
(25781, '1998-07-07 nan')
(25782, '1998-07-07 nan')
(25783, '1998-07-07 nan')
(25784, '1998-07-07 nan')
(25785, '1998-07-07 nan')
(25786, '1998-07-08 nan')
(25787, '1998-07-08 nan')
(25788, '1998-07-08 nan')
(25789, '1998-07-08 nan')
(25790, '1998-07-08 nan')
(25791, '1998-07-08 nan')
(25792, '1998-07-09 nan')
(25793, '1998-07-09 nan')
(25794, '1998-07-09 nan')
(25795, '1998-07-09 nan')
(25796, '1998-07-09 nan')
(25797, '1998-07-09 nan')
(25798, '1998-07-10 nan')
(25799, '1998-07-10 nan')
(25800, '1998-07-10 nan')
(25801, '1998-07-10 nan')
(25802, '1998-07-10 nan')
(25803, '1998-07-10 nan')
(25804, '1998-07-13 nan')
(25805, '1998-07-13 nan')
(25806, '1998-07-14 nan')
(25807, '1998-07-14 nan')
(25808, '1998-07-14 nan')
(25809, '1998-07-14 nan')
(25810, '1998-07-14 nan')
(25811, '1998-07-14 nan')
(25812, '1998-07-15 nan')
(25813, '1998-07-15 nan')
(25814, '1998-07-15 nan')
(25815, '1998-07-15 nan')
(25816, '1998-07-15 nan')
(25817, '1998-07-16 nan')
(25818, '1998-07-16 nan')
(25819, '1998-07-16 nan')
(25820, '1998-07-16 nan')
(25821, '1998-07-16 nan')
(25822, '1998-07-17 nan')
(25823, '1998-07-17 nan')
(25824, '1998-07-17 nan')
(25825, '1998-07-17 nan')
(25826, '1998-07-17 nan')
(25827, '1998-07-17 nan')
(25828, '1998-07-20 nan')
(25829, '1998-07-20 nan')
(25830, '1998-07-20 nan')
(25831, '1998-07-20 nan')
(25832, '1998-07-20 nan')
(25833, '1998-07-20 nan')
(25834, '1998-07-21 nan')
(25835, '1998-07-21 nan')
(25836, '1998-07-21 nan')
(25837, '1998-07-21 nan')
(25838, '1998-07-21 nan')
(25839, '1998-07-22 nan')
(25840, '1998-07-22 nan')
(25841, '1998-07-22 nan')
(25842, '1998-07-22 nan')
(25843, '1998-07-22 nan')
(25844, '1998-07-22 nan')
(25845, '1998-07-23 nan')
(25846, '1998-07-23 nan')
(25847, '1998-07-23 nan')
(25848, '1998-07-23 nan')
(25849, '1998-07-23 nan')
(25850, '1998-07-23 nan')
(25851, '1998-07-24 nan')
(25852, '1998-07-24 nan')
(25853, '1998-07-24 nan')
(25854, '1998-07-24 nan')
(25855, '1998-07-24 nan')
(25856, '1998-07-24 nan')
(25857, '1998-07-27 nan')
(25858, '1998-07-27 nan')
(25859, '1998-07-27 nan')
(25860, '1998-07-27 nan')
(25861, '1998-07-27 nan')
(25862, '1998-07-27 nan')
(25863, '1998-07-28 nan')
(25864, '1998-07-28 nan')
(25865, '1998-07-28 nan')
(25866, '1998-07-28 nan')
(25867, '1998-07-28 nan')
(25868, '1998-07-28 nan')
(25869, '1998-07-29 nan')
(25870, '1998-07-29 nan')
(25871, '1998-07-29 nan')
(25872, '1998-07-29 nan')
(25873, '1998-07-29 nan')
(25874, '1998-07-30 nan')
(25875, '1998-07-30 nan')
(25876, '1998-07-30 nan')
(25877, '1998-07-30 nan')
(25878, '1998-07-30 nan')
(25879, '1998-07-31 nan')
(25880, '1998-07-31 nan')
(25881, '1998-07-31 nan')
(25882, '1998-07-31 nan')
(25883, '1998-07-31 nan')
(25884, '1998-07-31 nan')
(25885, '1998-08-03 nan')
(25886, '1998-08-03 nan')
(25887, '1998-08-03 nan')
(25888, '1998-08-03 nan')
(25889, '1998-08-03 nan')
(25890, '1998-08-03 nan')
(25891, '1998-08-04 nan')
(25892, '1998-08-04 nan')
(25893, '1998-08-04 nan')
(25894, '1998-08-04 nan')
(25895, '1998-08-04 nan')
(25896, '1998-08-04 nan')
(25897, '1998-08-05 nan')
(25898, '1998-08-05 nan')
(25899, '1998-08-05 nan')
(25900, '1998-08-05 nan')
(25901, '1998-08-05 nan')
(25902, '1998-08-05 nan')
(25903, '1998-08-06 nan')
(25904, '1998-08-06 nan')
(25905, '1998-08-06 nan')
(25906, '1998-08-06 nan')
(25907, '1998-08-06 nan')
(25908, '1998-08-07 nan')
(25909, '1998-08-07 nan')
(25910, '1998-08-07 nan')
(25911, '1998-08-07 nan')
(25912, '1998-08-07 nan')
(25913, '1998-08-07 nan')
(25914, '1998-08-10 nan')
(25915, '1998-08-10 nan')
(25916, '1998-08-10 nan')
(25917, '1998-08-10 nan')
(25918, '1998-08-10 nan')
(25919, '1998-08-10 nan')
(25920, '1998-08-11 nan')
(25921, '1998-08-11 nan')
(25922, '1998-08-11 nan')
(25923, '1998-08-11 nan')
(25924, '1998-08-11 nan')
(25925, '1998-08-12 nan')
(25926, '1998-08-12 nan')
(25927, '1998-08-12 nan')
(25928, '1998-08-12 nan')
(25929, '1998-08-12 nan')
(25930, '1998-08-13 nan')
(25931, '1998-08-13 nan')
(25932, '1998-08-13 nan')
(25933, '1998-08-13 nan')
(25934, '1998-08-13 nan')
(25935, '1998-08-13 nan')
(25936, '1998-08-14 nan')
(25937, '1998-08-14 nan')
(25938, '1998-08-14 nan')
(25939, '1998-08-14 nan')
(25940, '1998-08-14 nan')
(25941, '1998-08-14 nan')
(25942, '1998-08-17 nan')
(25943, '1998-08-17 nan')
(25944, '1998-08-17 nan')
(25945, '1998-08-17 nan')
(25946, '1998-08-17 nan')
(25947, '1998-08-18 nan')
(25948, '1998-08-18 nan')
(25949, '1998-08-18 nan')
(25950, '1998-08-18 nan')
(25951, '1998-08-18 nan')
(25952, '1998-08-18 nan')
(25953, '1998-08-19 nan')
(25954, '1998-08-19 nan')
(25955, '1998-08-19 nan')
(25956, '1998-08-19 nan')
(25957, '1998-08-19 nan')
(25958, '1998-08-19 nan')
(25959, '1998-08-20 nan')
(25960, '1998-08-20 nan')
(25961, '1998-08-20 nan')
(25962, '1998-08-20 nan')
(25963, '1998-08-20 nan')
(25964, '1998-08-21 nan')
(25965, '1998-08-21 nan')
(25966, '1998-08-21 nan')
(25967, '1998-08-21 nan')
(25968, '1998-08-21 nan')
(25969, '1998-08-24 nan')
(25970, '1998-08-24 nan')
(25971, '1998-08-24 nan')
(25972, '1998-08-24 nan')
(25973, '1998-08-25 nan')
(25974, '1998-08-25 nan')
(25975, '1998-08-25 nan')
(25976, '1998-08-25 nan')
(25977, '1998-08-25 nan')
(25978, '1998-08-25 nan')
(25979, '1998-08-26 nan')
(25980, '1998-08-26 nan')
(25981, '1998-08-26 nan')
(25982, '1998-08-26 nan')
(25983, '1998-08-26 nan')
(25984, '1998-08-26 nan')
(25985, '1998-08-27 nan')
(25986, '1998-08-27 nan')
(25987, '1998-08-27 nan')
(25988, '1998-08-27 nan')
(25989, '1998-08-27 nan')
(25990, '1998-08-28 nan')
(25991, '1998-08-28 nan')
(25992, '1998-08-28 nan')
(25993, '1998-08-28 nan')
(25994, '1998-08-28 nan')
(25995, '1998-08-28 nan')
(25996, '1998-08-31 nan')
(25997, '1998-08-31 nan')
(25998, '1998-08-31 nan')
(25999, '1998-08-31 nan')
(26000, '1998-08-31 nan')
(26001, '1998-09-01 nan')
(26002, '1998-09-01 nan')
(26003, '1998-09-01 nan')
(26004, '1998-09-01 nan')
(26005, '1998-09-02 nan')
(26006, '1998-09-02 nan')
(26007, '1998-09-02 nan')
(26008, '1998-09-02 nan')
(26009, '1998-09-02 nan')
(26010, '1998-09-03 nan')
(26011, '1998-09-03 nan')
(26012, '1998-09-03 nan')
(26013, '1998-09-03 nan')
(26014, '1998-09-03 nan')
(26015, '1998-09-04 nan')
(26016, '1998-09-04 nan')
(26017, '1998-09-04 nan')
(26018, '1998-09-04 nan')
(26019, '1998-09-04 nan')
(26020, '1998-09-04 nan')
(26021, '1998-09-08 nan')
(26022, '1998-09-08 nan')
(26023, '1998-09-08 nan')
(26024, '1998-09-08 nan')
(26025, '1998-09-08 nan')
(26026, '1998-09-08 nan')
(26027, '1998-09-09 nan')
(26028, '1998-09-09 nan')
(26029, '1998-09-09 nan')
(26030, '1998-09-09 nan')
(26031, '1998-09-09 nan')
(26032, '1998-09-10 nan')
(26033, '1998-09-10 nan')
(26034, '1998-09-10 nan')
(26035, '1998-09-10 nan')
(26036, '1998-09-10 nan')
(26037, '1998-09-10 nan')
(26038, '1998-09-11 nan')
(26039, '1998-09-11 nan')
(26040, '1998-09-11 nan')
(26041, '1998-09-11 nan')
(26042, '1998-09-11 nan')
(26043, '1998-09-14 nan')
(26044, '1998-09-14 nan')
(26045, '1998-09-14 nan')
(26046, '1998-09-14 nan')
(26047, '1998-09-14 nan')
(26048, '1998-09-14 nan')
(26049, '1998-09-15 nan')
(26050, '1998-09-15 nan')
(26051, '1998-09-15 nan')
(26052, '1998-09-15 nan')
(26053, '1998-09-15 nan')
(26054, '1998-09-15 nan')
(26055, '1998-09-16 nan')
(26056, '1998-09-16 nan')
(26057, '1998-09-16 nan')
(26058, '1998-09-16 nan')
(26059, '1998-09-16 nan')
(26060, '1998-09-16 nan')
(26061, '1998-09-17 nan')
(26062, '1998-09-17 nan')
(26063, '1998-09-17 nan')
(26064, '1998-09-17 nan')
(26065, '1998-09-17 nan')
(26066, '1998-09-17 nan')
(26067, '1998-09-18 nan')
(26068, '1998-09-18 nan')
(26069, '1998-09-18 nan')
(26070, '1998-09-18 nan')
(26071, '1998-09-18 nan')
(26072, '1998-09-18 nan')
(26073, '1998-09-21 nan')
(26074, '1998-09-21 nan')
(26075, '1998-09-21 nan')
(26076, '1998-09-21 nan')
(26077, '1998-09-21 nan')
(26078, '1998-09-22 nan')
(26079, '1998-09-22 nan')
(26080, '1998-09-22 nan')
(26081, '1998-09-22 nan')
(26082, '1998-09-22 nan')
(26083, '1998-09-22 nan')
(26084, '1998-09-23 nan')
(26085, '1998-09-23 nan')
(26086, '1998-09-23 nan')
(26087, '1998-09-23 nan')
(26088, '1998-09-23 nan')
(26089, '1998-09-23 nan')
(26090, '1998-09-24 nan')
(26091, '1998-09-24 nan')
(26092, '1998-09-24 nan')
(26093, '1998-09-24 nan')
(26094, '1998-09-24 nan')
(26095, '1998-09-24 nan')
(26096, '1998-09-25 nan')
(26097, '1998-09-25 nan')
(26098, '1998-09-25 nan')
(26099, '1998-09-25 nan')
(26100, '1998-09-25 nan')
(26101, '1998-09-28 nan')
(26102, '1998-09-28 nan')
(26103, '1998-09-28 nan')
(26104, '1998-09-28 nan')
(26105, '1998-09-28 nan')
(26106, '1998-09-28 nan')
(26107, '1998-09-29 nan')
(26108, '1998-09-29 nan')
(26109, '1998-09-29 nan')
(26110, '1998-09-29 nan')
(26111, '1998-09-29 nan')
(26112, '1998-09-29 nan')
(26113, '1998-09-30 nan')
(26114, '1998-09-30 nan')
(26115, '1998-09-30 nan')
(26116, '1998-09-30 nan')
(26117, '1998-09-30 nan')
(26118, '1998-09-30 nan')
(26119, '1998-10-01 nan')
(26120, '1998-10-01 nan')
(26121, '1998-10-01 nan')
(26122, '1998-10-01 nan')
(26123, '1998-10-01 nan')
(26124, '1998-10-01 nan')
(26125, '1998-10-02 nan')
(26126, '1998-10-02 nan')
(26127, '1998-10-02 nan')
(26128, '1998-10-02 nan')
(26129, '1998-10-02 nan')
(26130, '1998-10-05 nan')
(26131, '1998-10-05 nan')
(26132, '1998-10-05 nan')
(26133, '1998-10-05 nan')
(26134, '1998-10-05 nan')
(26135, '1998-10-05 nan')
(26136, '1998-10-06 nan')
(26137, '1998-10-06 nan')
(26138, '1998-10-06 nan')
(26139, '1998-10-06 nan')
(26140, '1998-10-06 nan')
(26141, '1998-10-06 nan')
(26142, '1998-10-07 nan')
(26143, '1998-10-07 nan')
(26144, '1998-10-07 nan')
(26145, '1998-10-07 nan')
(26146, '1998-10-07 nan')
(26147, '1998-10-07 nan')
(26148, '1998-10-08 nan')
(26149, '1998-10-08 nan')
(26150, '1998-10-08 nan')
(26151, '1998-10-08 nan')
(26152, '1998-10-08 nan')
(26153, '1998-10-08 nan')
(26154, '1998-10-09 nan')
(26155, '1998-10-09 nan')
(26156, '1998-10-09 nan')
(26157, '1998-10-09 nan')
(26158, '1998-10-09 nan')
(26159, '1998-10-13 nan')
(26160, '1998-10-13 nan')
(26161, '1998-10-13 nan')
(26162, '1998-10-13 nan')
(26163, '1998-10-13 nan')
(26164, '1998-10-14 nan')
(26165, '1998-10-14 nan')
(26166, '1998-10-14 nan')
(26167, '1998-10-14 nan')
(26168, '1998-10-14 nan')
(26169, '1998-10-14 nan')
(26170, '1998-10-15 nan')
(26171, '1998-10-15 nan')
(26172, '1998-10-15 nan')
(26173, '1998-10-15 nan')
(26174, '1998-10-15 nan')
(26175, '1998-10-15 nan')

In [66]:
# starting with code to understand the data ...

In [67]:
# research 
results

,Date_Collected_Time_Collected,Activity_ID,Lab_ID,Site_ID,Project_ID,Actual_Result,Actual_Result_Unit_ID,Result_Sample_Fraction,Reporting_Result,Reporting_Result_Unit_ID,...,Percent_RPD,QAQC_Status,Data_Type_Name,Media_Type_Name,Media_Subdivision_Name,Component_Name,Activity_Type,Actual_Result_Type,Reporting_Result_Type,Relative_Depth_Name
0,2016-04-12 05:58:00,720160412ROV1DTH01,NaN,ROV1,7,0.67,5,NaN,0.67,5,...,372.0,Final-Accepted,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,Actual,Actual,Surface
1,2016-05-17 05:58:00,720160517ROV1DTH01,NaN,ROV1,7,0.46,5,NaN,5.50,5,...,2.0,Final-Accepted,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,Actual,Actual,Surface
2,2016-07-19 06:45:00,720160719ROV1DTH01,NaN,ROV1,7,0.33,5,NaN,0.33,5,...,2.0,Final-Accepted,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,Actual,Actual,Surface
3,2016-07-19 07:00:00,720160719ROV2DTH01,NaN,ROV2,7,0.5,5,NaN,0.50,5,...,4.0,Final-Accepted,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,Actual,Actual,Surface
4,2016-08-16 07:17:00,720160816ROV1DTH01,NaN,ROV1,7,0.33,5,NaN,0.33,5,...,6.0,Final-Accepted,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,Actual,Actual,Surface
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46445,2008-08-11 09:46:39,FLG200808113BUTemp03,NaN,3BU,3,20.36,4,Total,20.36,4,...,NaN,Preliminary,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,Actual,Actual,Bottom
46446,2008-08-11 09:15:20,FLG200808114LONGTemp02,NaN,4LONG,3,21.33,4,Total,21.33,4,...,NaN,Preliminary,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,Actual,Actual,Bottom
46447,2008-08-11 09:15:31,FLG200808114LONGTemp03,NaN,4LONG,3,21.33,4,Total,21.33,4,...,NaN,Preliminary,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,Actual,Actual,Bottom
46448,2008-08-11 09:21:29,FLG200808114LONGTemp05,NaN,4LONG,3,21.31,4,Total,21.31,4,...,NaN,Preliminary,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,Actual,Actual,Bottom
46449,2008-09-02 09:17:00,FLG200809024LONGTemp02,NaN,4LONG,3,16.32,4,Total,16.32,4,...,NaN,Preliminary,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,Actual,Actual,Bottom

In [50]:
# research:
# all 'Media_Subdivision_Name' values are surface water
pd.unique(results['Media_Subdivision_Name'])

array(['Surface Water'], dtype=object)

In [51]:
# research
# many different types of measurements are in 'Component_Name'
pd.unique(results['Component_Name'])

array(['Depth', 'Temperature, water', 'Escherichia coli', 'Enterococcus',
       'Fecal coliform', 'Inorganic nitrogen (nitrate and nitrite)',
       'Phosphorus', 'Total suspended solids', 'Chlorophyll a',
       'Pheophytin a', 'Nitrogen', 'Ammonia', 'Orthophosphate', 'Sodium',
       'Conductivity', 'Surfactants, anionic', 'Nitrite', 'Nitrate',
       'Chlorine', 'Ammonium', 'Barometric pressure',
       'Dissolved oxygen saturation', 'Dissolved oxygen (DO)', 'Salinity',
       'Algae, blue-green (phylum cyanophyta) density', 'pH',
       'Specific conductance'], dtype=object)

In [53]:
# from results table, only pull out the records (rows) for water temperature, and only pull out a few fields (columns)

results_temperature = results[results['Component_Name']=='Temperature, water'][['Date_Collected_Time_Collected', 'Reporting_Result']]
results_temperature

      Date_Collected_Time_Collected  Reporting_Result
6657            2016-04-12 05:58:00             14.50
6658            2016-05-17 05:58:00             15.00
6659            2016-09-20 06:00:00             20.50
6660            2016-09-20 05:25:00             21.30
6661            2016-11-15 06:15:00             14.80
...                             ...               ...
46445           2008-08-11 09:46:39             20.36
46446           2008-08-11 09:15:20             21.33
46447           2008-08-11 09:15:31             21.33
46448           2008-08-11 09:21:29             21.31
46449           2008-09-02 09:17:00             16.32

[9579 rows x 2 columns]

In [86]:
len('2016-04-12 05:58:00')

19

In [96]:
for timevalues in ( results_temperature['Date_Collected_Time_Collected'] ).iteritems():
    if( len(timevalues[1])< 19 ):
        print( timevalues )

(13941, '2010-07-07 nan')
(13942, '2010-07-07 nan')
(13943, '2010-07-07 nan')
(13944, '2010-07-07 nan')
(13945, '2010-07-14 nan')
(13946, '2010-07-14 nan')
(13947, '2010-07-14 nan')
(13948, '2010-07-14 nan')
(13949, '2010-07-21 nan')
(13950, '2010-07-21 nan')
(13951, '2010-07-21 nan')
(13952, '2010-07-21 nan')
(13953, '2010-07-28 nan')
(13954, '2010-07-28 nan')
(13955, '2010-07-28 nan')
(13956, '2010-07-28 nan')
(13957, '2010-08-04 nan')
(13958, '2010-08-04 nan')
(13959, '2010-08-04 nan')
(13960, '2010-08-04 nan')
(13961, '2010-08-11 nan')
(13962, '2010-08-11 nan')
(13963, '2010-08-11 nan')
(13964, '2010-08-11 nan')
(13965, '2010-08-19 nan')
(13966, '2010-08-19 nan')
(13967, '2010-08-19 nan')
(13968, '2010-08-19 nan')
(13969, '2010-08-26 nan')
(13970, '2010-08-26 nan')
(13971, '2010-08-26 nan')
(13972, '2010-08-26 nan')
(13973, '2010-09-09 nan')
(13974, '2010-09-09 nan')
(13975, '2010-09-09 nan')
(13976, '2010-09-09 nan')
(13977, '2010-09-16 nan')
(13978, '2010-09-16 nan')
(13979, '2010-09-16 nan')
(13980, '2010-09-16 nan')
(13981, '2010-09-23 nan')
(13982, '2010-09-23 nan')
(13983, '2010-09-23 nan')
(13984, '2010-09-23 nan')
(13985, '2010-09-30 nan')
(13986, '2010-09-30 nan')
(13987, '2010-09-30 nan')
(13988, '2010-09-30 nan')
(13989, '2010-10-07 nan')
(13990, '2010-10-07 nan')
(13991, '2010-10-07 nan')
(13992, '2010-10-07 nan')
(13993, '2010-10-21 nan')
(13994, '2010-10-21 nan')
(13995, '2010-10-21 nan')
(13996, '2010-10-21 nan')
(15163, '2008-01-29 nan')
(15164, '2008-01-29 nan')
(15165, '2008-02-12 nan')
(15166, '2008-02-12 nan')
(15167, '2008-03-12 nan')
(15168, '2008-03-12 nan')
(15169, '2008-04-09 nan')
(15170, '2008-04-09 nan')
(15171, '2008-05-08 nan')
(15172, '2008-06-23 nan')
(15173, '2008-06-23 nan')
(15174, '2008-06-23 nan')
(15175, '2008-07-22 nan')
(15176, '2008-07-22 nan')
(15177, '2008-07-22 nan')
(15178, '2008-08-21 nan')
(15179, '2008-09-04 nan')
(15180, '2008-09-04 nan')
(15181, '2008-09-04 nan')
(15182, '2008-09-10 nan')
(15197, '2008-10-02 nan')
(15198, '2008-11-18 nan')
(15199, '2008-11-18 nan')
(15200, '2008-12-18 nan')
(15201, '2008-12-18 nan')

In [72]:
# convert Date_Collected from string to datetime ( actually pandas._libs.tslibs.timestamps.Timestamp )

results_temperature['Date_Collected_Time_Collected'] = pd.to_datetime( results_temperature['Date_Collected_Time_Collected'] )
# type( results_temperature['Date_Collected_Time_Collected'][6657] )

ValueError: ('Unknown string format:', '2010-07-07 nan')

In [ ]:
# create new column:  which indicates the season collected

# season is an int indicating the year and season (first four digits are the year, and the last digit is the season)
# dates in December are treated as winter of the next year, so seasonal results are kept together
# winter ends with 1, spring ends with 2, summer ends with 3, autumn ends with 4

# This link discusses why meteorologists define the seasons this way
# https://www.ncei.noaa.gov/news/meteorological-versus-astronomical-seasons

def date_to_season(date):
    season = date.year*10; # first four digits will be the year
    
    if date.month == 12: # treat December as winter of the next year
       season += 11
    elif date.month < 3: # Jan and Feb are winter of the same year
        season += 1
    elif date.month < 6: # March, April, May are spring
        season += 2
    elif date.month < 9: # June, July, August are summer
        season += 3
    else:
        season += 4
        
    return season;

# results_temperature['Season_Collected'] = pd.to_datetime(results_temperature["Date_Collected"]).apply(date_to_season)
results_temperature['Season_Collected'] = (results_temperature["Date_Collected"]).apply(date_to_season)

In [ ]:
# research only

# list all seasons where this data was collected
# note:  no temperature measurements from Spring 2002 through Winter 2002/3
np.sort( results_temperature['Season_Collected'].unique() )

In [ ]:
# turns off warning described in below webpages (it appears to be a false error)
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas
# https://www.dataquest.io/blog/settingwithcopywarning/
pd.options.mode.chained_assignment = None  # default='warn'

# add new column with year (for display)
results_temperature['Year'] = results_temperature.apply(lambda row: math.floor(row.Season_Collected/10), axis=1)

# turn warning back on:
pd.options.mode.chained_assignment = 'warn'

In [ ]:
# plotting temperature results values:
# reset index is necessary make the index go from 0 to (length-1)

# note the cycle observed here is due to the change of seasons throughout the year

res_plot = ( results_temperature.sort_values(by=['Date_Collected','Time_Collected']) )['Reporting_Result']
res_plot.reset_index(drop=True).plot()

In [ ]:
( results_temperature.sort_values(by=['Date_Collected','Time_Collected']) )

In [ ]:
# only use summertime data
# This is because people are more likely to go boating on and swimming in the
# Charles River during the summer, therefore summertime conditions are 
# anticipated to be more of interest to the CRWA than the other three seasons
results_temperature_summer = results_temperature[results_temperature['Season_Collected']%10 == 3]

In [ ]:
# create boxplot of summer data
# improvements wanted:  change title,
# space it out to show gap for missing 2002 data, create a linear regression showing the overall trend (if any)

# boxplot command
ax = results_temperature_summer.boxplot(by='Year', column='Reporting_Result', rot=90)

# labelling
ax.set_xlabel("Summer (June through August of Year)")
ax.set_ylabel("Temperature")
ax.set_title("")

In [ ]:
# plotting temperature results (summer only) values:
# reset index is necessary to make the index go from 0 to (length-1)
res_plot = ( results_temperature_summer.sort_values(by=['Date_Collected','Time_Collected']) )['Reporting_Result']
res_plot.reset_index(drop=True).plot()