In [2]:
## Load modules

import pandas as pd
from IPython.display import display, HTML

swdis_data_path = './data/swdis/'

## Sampling of all CSV files in swdis.zip

In [4]:
import glob
path = swdis_data_path  + "*.csv"
df_list = []
for fname in glob.glob(path):
    print fname
    
    df = pd.read_csv(fname, error_bad_lines=False, index_col=False)
    df_list += [df]

    display(df.sample(10))
    display(df.nunique().sort_values())

./data/swdis/ENFORCEMENT_ACTION.csv

Skipping line 2780: expected 7 fields, saw 8
Skipping line 4943: expected 7 fields, saw 8
Skipping line 6784: expected 7 fields, saw 8
Skipping line 7030: expected 7 fields, saw 8
Skipping line 9079: expected 7 fields, saw 8
Skipping line 11087: expected 7 fields, saw 8
Skipping line 12463: expected 7 fields, saw 8
Skipping line 21912: expected 7 fields, saw 11
Skipping line 25245: expected 7 fields, saw 8
Skipping line 25462: expected 7 fields, saw 9
Skipping line 25610: expected 7 fields, saw 8
Skipping line 25790: expected 7 fields, saw 8
Skipping line 26205: expected 7 fields, saw 8
Skipping line 27561: expected 7 fields, saw 14
Skipping line 28035: expected 7 fields, saw 8
Skipping line 32665: expected 7 fields, saw 11
Skipping line 35567: expected 7 fields, saw 9
Skipping line 35568: expected 7 fields, saw 13
Skipping line 35585: expected 7 fields, saw 10
Skipping line 35640: expected 7 fields, saw 13
Skipping line 35648: expected 7 fields, saw 9
Skipping line 35674: expected 7 fields, saw 9
Skipping line 35804: expected 7 fields, saw 12
Skipping line 35973: expected 7 fields, saw 8
Skipping line 36853: expected 7 fields, saw 9
Skipping line 37042: expected 7 fields, saw 10
Skipping line 37222: expected 7 fields, saw 8
Skipping line 37284: expected 7 fields, saw 9
Skipping line 37373: expected 7 fields, saw 8
Skipping line 37604: expected 7 fields, saw 8
Skipping line 37633: expected 7 fields, saw 9
Skipping line 37885: expected 7 fields, saw 8
Skipping line 37905: expected 7 fields, saw 8
Skipping line 38078: expected 7 fields, saw 8
Skipping line 38427: expected 7 fields, saw 11
Skipping line 38560: expected 7 fields, saw 9
Skipping line 38735: expected 7 fields, saw 8
Skipping line 38932: expected 7 fields, saw 12
Skipping line 38996: expected 7 fields, saw 9
Skipping line 39094: expected 7 fields, saw 12
Skipping line 39180: expected 7 fields, saw 8
Skipping line 39350: expected 7 fields, saw 8
Skipping line 39420: expected 7 fields, saw 8
Skipping line 39536: expected 7 fields, saw 10
Skipping line 39663: expected 7 fields, saw 14
Skipping line 39710: expected 7 fields, saw 9
Skipping line 39753: expected 7 fields, saw 8
Skipping line 39995: expected 7 fields, saw 8
Skipping line 40043: expected 7 fields, saw 15
Skipping line 40057: expected 7 fields, saw 8
Skipping line 40118: expected 7 fields, saw 12
Skipping line 40199: expected 7 fields, saw 12
Skipping line 40747: expected 7 fields, saw 8
Skipping line 40763: expected 7 fields, saw 13
Skipping line 40771: expected 7 fields, saw 8
Skipping line 40780: expected 7 fields, saw 8
Skipping line 40795: expected 7 fields, saw 8
Skipping line 40863: expected 7 fields, saw 9
Skipping line 40894: expected 7 fields, saw 8
Skipping line 40932: expected 7 fields, saw 12
Skipping line 40948: expected 7 fields, saw 11
Skipping line 41112: expected 7 fields, saw 9
Skipping line 41120: expected 7 fields, saw 8
Skipping line 41191: expected 7 fields, saw 10
Skipping line 41220: expected 7 fields, saw 8
Skipping line 41422: expected 7 fields, saw 8
Skipping line 41431: expected 7 fields, saw 10
Skipping line 41751: expected 7 fields, saw 14
Skipping line 41820: expected 7 fields, saw 8
Skipping line 41859: expected 7 fields, saw 9
Skipping line 41884: expected 7 fields, saw 13
Skipping line 42091: expected 7 fields, saw 8
Skipping line 42756: expected 7 fields, saw 9
Skipping line 42772: expected 7 fields, saw 8
Skipping line 42913: expected 7 fields, saw 9
Skipping line 43011: expected 7 fields, saw 9
Skipping line 45601: expected 7 fields, saw 8
Skipping line 46338: expected 7 fields, saw 8
Skipping line 46406: expected 7 fields, saw 9
Skipping line 46427: expected 7 fields, saw 9
Skipping line 46443: expected 7 fields, saw 8
Skipping line 46593: expected 7 fields, saw 9
Skipping line 46681: expected 7 fields, saw 9
Skipping line 46813: expected 7 fields, saw 8
Skipping line 46991: expected 7 fields, saw 9
Skipping line 47011: expected 7 fields, saw 10
Skipping line 47250: expected 7 fields, saw 9
Skipping line 47253: expected 7 fields, saw 9
Skipping line 70786: expected 7 fields, saw 10
Skipping line 86491: expected 7 fields, saw 8
Skipping line 90321: expected 7 fields, saw 8

Skipping line 171186: expected 7 fields, saw 8
Skipping line 171187: expected 7 fields, saw 9
Skipping line 171188: expected 7 fields, saw 8
Skipping line 172893: expected 7 fields, saw 8
Skipping line 176177: expected 7 fields, saw 8

Skipping line 304952: expected 7 fields, saw 8
Skipping line 306336: expected 7 fields, saw 8
Skipping line 329902: expected 7 fields, saw 8
Skipping line 359215: expected 7 fields, saw 9
Skipping line 382559: expected 7 fields, saw 9
Skipping line 388896: expected 7 fields, saw 9
Skipping line 390882: expected 7 fields, saw 8
Skipping line 391456: expected 7 fields, saw 8
Skipping line 391776: expected 7 fields, saw 8

Skipping line 394461: expected 7 fields, saw 10
Skipping line 401080: expected 7 fields, saw 8
Skipping line 401918: expected 7 fields, saw 10
Skipping line 403223: expected 7 fields, saw 8
Skipping line 403521: expected 7 fields, saw 10
Skipping line 407080: expected 7 fields, saw 8
Skipping line 412668: expected 7 fields, saw 10
Skipping line 423388: expected 7 fields, saw 10
Skipping line 425819: expected 7 fields, saw 10
Skipping line 427163: expected 7 fields, saw 8
Skipping line 429447: expected 7 fields, saw 27
Skipping line 429964: expected 7 fields, saw 17
Skipping line 431478: expected 7 fields, saw 11
Skipping line 443601: expected 7 fields, saw 8
Skipping line 445750: expected 7 fields, saw 9
Skipping line 446477: expected 7 fields, saw 8
Skipping line 447675: expected 7 fields, saw 10
Skipping line 448850: expected 7 fields, saw 9
Skipping line 452514: expected 7 fields, saw 9
Skipping line 457765: expected 7 fields, saw 8
Skipping line 460857: expected 7 fields, saw 12
Skipping line 472043: expected 7 fields, saw 8
Skipping line 472205: expected 7 fields, saw 8
Skipping line 473838: expected 7 fields, saw 8
Skipping line 474236: expected 7 fields, saw 8
Skipping line 474305: expected 7 fields, saw 8
Skipping line 474307: expected 7 fields, saw 8
Skipping line 474509: expected 7 fields, saw 9
Skipping line 474950: expected 7 fields, saw 8
Skipping line 475200: expected 7 fields, saw 8
Skipping line 475239: expected 7 fields, saw 8
Skipping line 475381: expected 7 fields, saw 8
Skipping line 506124: expected 7 fields, saw 8
Skipping line 516501: expected 7 fields, saw 11

Skipping line 567496: expected 7 fields, saw 8
Skipping line 570919: expected 7 fields, saw 8
Skipping line 575524: expected 7 fields, saw 8
Skipping line 575525: expected 7 fields, saw 8
Skipping line 575527: expected 7 fields, saw 8
Skipping line 575549: expected 7 fields, saw 8
Skipping line 575749: expected 7 fields, saw 9
Skipping line 576020: expected 7 fields, saw 8
Skipping line 576892: expected 7 fields, saw 9
Skipping line 577438: expected 7 fields, saw 8
Skipping line 578074: expected 7 fields, saw 8
Skipping line 583060: expected 7 fields, saw 9
Skipping line 583706: expected 7 fields, saw 8
Skipping line 584485: expected 7 fields, saw 8
Skipping line 587668: expected 7 fields, saw 8
Skipping line 598612: expected 7 fields, saw 10
Skipping line 601526: expected 7 fields, saw 8
Skipping line 609216: expected 7 fields, saw 8
Skipping line 611447: expected 7 fields, saw 8

Skipping line 710074: expected 7 fields, saw 10
Skipping line 710442: expected 7 fields, saw 15
Skipping line 710443: expected 7 fields, saw 8
Skipping line 710630: expected 7 fields, saw 10
Skipping line 712332: expected 7 fields, saw 20
Skipping line 712335: expected 7 fields, saw 9
Skipping line 713898: expected 7 fields, saw 14
Skipping line 713899: expected 7 fields, saw 8
Skipping line 714669: expected 7 fields, saw 11
Skipping line 714676: expected 7 fields, saw 9
Skipping line 714687: expected 7 fields, saw 9
Skipping line 715572: expected 7 fields, saw 8
Skipping line 716329: expected 7 fields, saw 10
Skipping line 716332: expected 7 fields, saw 12
Skipping line 717001: expected 7 fields, saw 12
Skipping line 717866: expected 7 fields, saw 12
Skipping line 717868: expected 7 fields, saw 18
Skipping line 718008: expected 7 fields, saw 11
Skipping line 718070: expected 7 fields, saw 8
Skipping line 718382: expected 7 fields, saw 13
Skipping line 718386: expected 7 fields, saw 16
Skipping line 718388: expected 7 fields, saw 11
Skipping line 718424: expected 7 fields, saw 10
Skipping line 718684: expected 7 fields, saw 10
Skipping line 719009: expected 7 fields, saw 9
Skipping line 719385: expected 7 fields, saw 10
Skipping line 719391: expected 7 fields, saw 9
Skipping line 719393: expected 7 fields, saw 9
Skipping line 719401: expected 7 fields, saw 13
Skipping line 720528: expected 7 fields, saw 8
Skipping line 720854: expected 7 fields, saw 10
Skipping line 720857: expected 7 fields, saw 8
Skipping line 720974: expected 7 fields, saw 8
Skipping line 721071: expected 7 fields, saw 9
Skipping line 721138: expected 7 fields, saw 8
Skipping line 721143: expected 7 fields, saw 8
Skipping line 721405: expected 7 fields, saw 10
Skipping line 721408: expected 7 fields, saw 8
Skipping line 721615: expected 7 fields, saw 10
Skipping line 721620: expected 7 fields, saw 10
Skipping line 722195: expected 7 fields, saw 17
Skipping line 722576: expected 7 fields, saw 11
Skipping line 722582: expected 7 fields, saw 12
Skipping line 723201: expected 7 fields, saw 13
Skipping line 723215: expected 7 fields, saw 11
Skipping line 723519: expected 7 fields, saw 8
Skipping line 724021: expected 7 fields, saw 11
Skipping line 724203: expected 7 fields, saw 12
Skipping line 724205: expected 7 fields, saw 10
Skipping line 725340: expected 7 fields, saw 11
Skipping line 725344: expected 7 fields, saw 10
Skipping line 725347: expected 7 fields, saw 13
Skipping line 725352: expected 7 fields, saw 9
Skipping line 726889: expected 7 fields, saw 13
Skipping line 727796: expected 7 fields, saw 13
Skipping line 727801: expected 7 fields, saw 10
Skipping line 727873: expected 7 fields, saw 11
Skipping line 727884: expected 7 fields, saw 14
Skipping line 727885: expected 7 fields, saw 13
Skipping line 727899: expected 7 fields, saw 13
Skipping line 728277: expected 7 fields, saw 8
Skipping line 728281: expected 7 fields, saw 8
Skipping line 728552: expected 7 fields, saw 12
Skipping line 728588: expected 7 fields, saw 17
Skipping line 728589: expected 7 fields, saw 16
Skipping line 728879: expected 7 fields, saw 10
Skipping line 728912: expected 7 fields, saw 14
Skipping line 728914: expected 7 fields, saw 8
Skipping line 729037: expected 7 fields, saw 12
Skipping line 729052: expected 7 fields, saw 11
Skipping line 729057: expected 7 fields, saw 10
Skipping line 729123: expected 7 fields, saw 10
Skipping line 729416: expected 7 fields, saw 11
Skipping line 729419: expected 7 fields, saw 8
Skipping line 729563: expected 7 fields, saw 10
Skipping line 729565: expected 7 fields, saw 12
Skipping line 729587: expected 7 fields, saw 10
Skipping line 729969: expected 7 fields, saw 10
Skipping line 730431: expected 7 fields, saw 8
Skipping line 730449: expected 7 fields, saw 8
Skipping line 730458: expected 7 fields, saw 11
Skipping line 730476: expected 7 fields, saw 8
Skipping line 730509: expected 7 fields, saw 15
Skipping line 730520: expected 7 fields, saw 13
Skipping line 730752: expected 7 fields, saw 8
Skipping line 731854: expected 7 fields, saw 10
Skipping line 731856: expected 7 fields, saw 16
Skipping line 732094: expected 7 fields, saw 14
Skipping line 732566: expected 7 fields, saw 8
Skipping line 732802: expected 7 fields, saw 8
Skipping line 732803: expected 7 fields, saw 9
Skipping line 732905: expected 7 fields, saw 10
Skipping line 733279: expected 7 fields, saw 8
Skipping line 733865: expected 7 fields, saw 8
Skipping line 734376: expected 7 fields, saw 11
Skipping line 734823: expected 7 fields, saw 15
Skipping line 734824: expected 7 fields, saw 8
Skipping line 734899: expected 7 fields, saw 8
Skipping line 734914: expected 7 fields, saw 9
Skipping line 734919: expected 7 fields, saw 13
Skipping line 734928: expected 7 fields, saw 12
Skipping line 735264: expected 7 fields, saw 13
Skipping line 735272: expected 7 fields, saw 9
Skipping line 735707: expected 7 fields, saw 11
Skipping line 735708: expected 7 fields, saw 11
Skipping line 735767: expected 7 fields, saw 11
Skipping line 737176: expected 7 fields, saw 10
Skipping line 738659: expected 7 fields, saw 9
Skipping line 738661: expected 7 fields, saw 15
Skipping line 738826: expected 7 fields, saw 11
Skipping line 738848: expected 7 fields, saw 11
Skipping line 738946: expected 7 fields, saw 13
Skipping line 739072: expected 7 fields, saw 9
Skipping line 739196: expected 7 fields, saw 9
Skipping line 739197: expected 7 fields, saw 12
Skipping line 739203: expected 7 fields, saw 9
Skipping line 739206: expected 7 fields, saw 11
Skipping line 739211: expected 7 fields, saw 9
Skipping line 739215: expected 7 fields, saw 8
Skipping line 739298: expected 7 fields, saw 19
Skipping line 739517: expected 7 fields, saw 9
Skipping line 739519: expected 7 fields, saw 14
Skipping line 739543: expected 7 fields, saw 8
Skipping line 739554: expected 7 fields, saw 15
Skipping line 739635: expected 7 fields, saw 14
Skipping line 740453: expected 7 fields, saw 11
Skipping line 740651: expected 7 fields, saw 8
Skipping line 741355: expected 7 fields, saw 11
Skipping line 741603: expected 7 fields, saw 8
Skipping line 741684: expected 7 fields, saw 10
Skipping line 741691: expected 7 fields, saw 12
Skipping line 742142: expected 7 fields, saw 12
Skipping line 742157: expected 7 fields, saw 8
Skipping line 742170: expected 7 fields, saw 9
Skipping line 742183: expected 7 fields, saw 11
Skipping line 743179: expected 7 fields, saw 14
Skipping line 743193: expected 7 fields, saw 11
Skipping line 744594: expected 7 fields, saw 9
Skipping line 744597: expected 7 fields, saw 16
Skipping line 745478: expected 7 fields, saw 12
Skipping line 745484: expected 7 fields, saw 13
Skipping line 747358: expected 7 fields, saw 9
Skipping line 747509: expected 7 fields, saw 13
Skipping line 747594: expected 7 fields, saw 9
Skipping line 748397: expected 7 fields, saw 8
Skipping line 748589: expected 7 fields, saw 11
Skipping line 748593: expected 7 fields, saw 9
Skipping line 748676: expected 7 fields, saw 8
Skipping line 749514: expected 7 fields, saw 13
Skipping line 749867: expected 7 fields, saw 12
Skipping line 750243: expected 7 fields, saw 8
Skipping line 752455: expected 7 fields, saw 10
Skipping line 752460: expected 7 fields, saw 9
Skipping line 752684: expected 7 fields, saw 18
Skipping line 752694: expected 7 fields, saw 9
Skipping line 752729: expected 7 fields, saw 9
Skipping line 752741: expected 7 fields, saw 13
Skipping line 752752: expected 7 fields, saw 8
Skipping line 752762: expected 7 fields, saw 10
Skipping line 753741: expected 7 fields, saw 10
Skipping line 753828: expected 7 fields, saw 9
Skipping line 754138: expected 7 fields, saw 12
Skipping line 754170: expected 7 fields, saw 8
Skipping line 754599: expected 7 fields, saw 14
Skipping line 754617: expected 7 fields, saw 8
Skipping line 755252: expected 7 fields, saw 8
Skipping line 755512: expected 7 fields, saw 16
Skipping line 755531: expected 7 fields, saw 11
Skipping line 755547: expected 7 fields, saw 9
Skipping line 755568: expected 7 fields, saw 9
Skipping line 755968: expected 7 fields, saw 11
Skipping line 755987: expected 7 fields, saw 8
Skipping line 755988: expected 7 fields, saw 9
Skipping line 756177: expected 7 fields, saw 16
Skipping line 756178: expected 7 fields, saw 10
Skipping line 756205: expected 7 fields, saw 13
Skipping line 756206: expected 7 fields, saw 10
Skipping line 756602: expected 7 fields, saw 12
Skipping line 757113: expected 7 fields, saw 10
Skipping line 757124: expected 7 fields, saw 12
Skipping line 757142: expected 7 fields, saw 8
Skipping line 757144: expected 7 fields, saw 12
Skipping line 757157: expected 7 fields, saw 11
Skipping line 757678: expected 7 fields, saw 12
Skipping line 758087: expected 7 fields, saw 8
Skipping line 758091: expected 7 fields, saw 13
Skipping line 758756: expected 7 fields, saw 11
Skipping line 758759: expected 7 fields, saw 9
Skipping line 758973: expected 7 fields, saw 10
Skipping line 758974: expected 7 fields, saw 12
Skipping line 759100: expected 7 fields, saw 12
Skipping line 759102: expected 7 fields, saw 12
Skipping line 760331: expected 7 fields, saw 15
Skipping line 760334: expected 7 fields, saw 13
Skipping line 762527: expected 7 fields, saw 14
Skipping line 762532: expected 7 fields, saw 10
Skipping line 762583: expected 7 fields, saw 18
Skipping line 762971: expected 7 fields, saw 9
Skipping line 762972: expected 7 fields, saw 11
Skipping line 763383: expected 7 fields, saw 8
Skipping line 763696: expected 7 fields, saw 12
Skipping line 763699: expected 7 fields, saw 8
Skipping line 763700: expected 7 fields, saw 9
Skipping line 765102: expected 7 fields, saw 10
Skipping line 765260: expected 7 fields, saw 10
Skipping line 765459: expected 7 fields, saw 9
Skipping line 765735: expected 7 fields, saw 9
Skipping line 765748: expected 7 fields, saw 9
Skipping line 766906: expected 7 fields, saw 10
Skipping line 766909: expected 7 fields, saw 8
Skipping line 767069: expected 7 fields, saw 9
Skipping line 767080: expected 7 fields, saw 8
Skipping line 767085: expected 7 fields, saw 8
Skipping line 767147: expected 7 fields, saw 9
Skipping line 767170: expected 7 fields, saw 13
Skipping line 767174: expected 7 fields, saw 8
Skipping line 767216: expected 7 fields, saw 8
Skipping line 767249: expected 7 fields, saw 12
Skipping line 767325: expected 7 fields, saw 12
Skipping line 767332: expected 7 fields, saw 11
Skipping line 767333: expected 7 fields, saw 9
Skipping line 767440: expected 7 fields, saw 15
Skipping line 767563: expected 7 fields, saw 18
Skipping line 767564: expected 7 fields, saw 17
Skipping line 767590: expected 7 fields, saw 8
Skipping line 768162: expected 7 fields, saw 8
Skipping line 768166: expected 7 fields, saw 9
Skipping line 768427: expected 7 fields, saw 8
Skipping line 768428: expected 7 fields, saw 9
Skipping line 768835: expected 7 fields, saw 13

Skipping line 866468: expected 7 fields, saw 8
Skipping line 915417: expected 7 fields, saw 8

Skipping line 1151188: expected 7 fields, saw 9
Skipping line 1178609: expected 7 fields, saw 8
Skipping line 1178623: expected 7 fields, saw 8
Skipping line 1178675: expected 7 fields, saw 11

Skipping line 1184796: expected 7 fields, saw 11
Skipping line 1195050: expected 7 fields, saw 9
Skipping line 1219169: expected 7 fields, saw 17
Skipping line 1224766: expected 7 fields, saw 9
Skipping line 1270641: expected 7 fields, saw 14
Skipping line 1270897: expected 7 fields, saw 8
Skipping line 1270961: expected 7 fields, saw 8
Skipping line 1271254: expected 7 fields, saw 8
Skipping line 1271941: expected 7 fields, saw 8
Skipping line 1272263: expected 7 fields, saw 10
Skipping line 1273002: expected 7 fields, saw 8
Skipping line 1273017: expected 7 fields, saw 8
Skipping line 1274018: expected 7 fields, saw 8
Skipping line 1274019: expected 7 fields, saw 8
Skipping line 1274707: expected 7 fields, saw 9
Skipping line 1274939: expected 7 fields, saw 8
Skipping line 1275077: expected 7 fields, saw 9
Skipping line 1275098: expected 7 fields, saw 8
Skipping line 1280690: expected 7 fields, saw 8
Skipping line 1302837: expected 7 fields, saw 8

Skipping line 1396257: expected 7 fields, saw 14
Skipping line 1396275: expected 7 fields, saw 14
Skipping line 1398102: expected 7 fields, saw 10
Skipping line 1406199: expected 7 fields, saw 8
Skipping line 1430385: expected 7 fields, saw 10
Skipping line 1431951: expected 7 fields, saw 8
Skipping line 1431952: expected 7 fields, saw 8
Skipping line 1431970: expected 7 fields, saw 8
Skipping line 1431971: expected 7 fields, saw 8

Skipping line 1887194: expected 7 fields, saw 8

Skipping line 2050259: expected 7 fields, saw 8
Skipping line 2077135: expected 7 fields, saw 9

Skipping line 2321737: expected 7 fields, saw 8
Skipping line 2323311: expected 7 fields, saw 10
Skipping line 2323312: expected 7 fields, saw 10

,ENFORCEMENT_ACTION_TYPE_CODE,ENFORCEMENT_COMMENT_TEXT,ENFORCEMENT_DATE,ENFORCEMENT_ID,ORIGINATOR_CODE,PWSID
1982816,SIE,NaN,17-AUG-17,90109788,S,TX1700042
1925469,SIA,NaN,31-MAY-11,2,S,TX1080238
152072,SIA,NaN,10-JUL-12,1204213,S,CA5403126
1286453,SFJ,NaN,07-MAR-17,1215,S,NY1909101
191533,SOX,System RTC'd R&C below MCL. (AS 6.10.2014),30-SEP-13,7,S,CO0262171
1826957,SIA,NaN,28-MAR-12,16,S,TX0150556
679665,SIA,NaN,13-JAN-17,172000907,S,MI7520301
1930887,SIA,NaN,30-APR-15,90108014,S,TX1160081
423686,SIA,NaN,05-FEB-13,3147,S,IN2600835
897549,SIE,NaN,16-AUG-17,5466830,S,MT0003306

ORIGINATOR_CODE                      3
ENFORCEMENT_ACTION_TYPE_CODE        58
ENFORCEMENT_DATE                  3826
PWSID                           129083
ENFORCEMENT_COMMENT_TEXT        154702
ENFORCEMENT_ID                  906850
dtype: int64

./data/swdis/LCR_SAMPLE_RESULT.csv

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CONTAMINANT_CODE,EPA_REGION,PRIMACY_AGENCY_CODE,PWSID,RESULT_SIGN_CODE,SAMPLE_ID,SAMPLE_MEASURE,SAR_ID,UNIT_OF_MEASURE
69339,PB90,10,ID,ID7300057,NaN,ID19933,0.00000,17088911,mg/L
1300,PB90,8,08,083090024,NaN,0811047,0.00200,16935374,mg/L
197205,PB90,3,VA,VA5019665,NaN,VA13389,0.00400,14681624,mg/L
34128,PB90,1,CT,CT0340081,NaN,CT17834,0.00300,15381314,mg/L
137763,PB90,2,NJ,NJ2119001,NaN,NJ126624,0.00000,15346390,mg/L
80133,PB90,5,IN,IN5279020,NaN,IN34416,0.00100,14731232,mg/L
126785,PB90,7,NE,NE3102705,NaN,NE6861,0.00270,15888902,mg/L
172922,PB90,10,OR,OR4190587,NaN,OR23777,0.00240,17285052,mg/L
79918,PB90,5,IN,IN5253007,NaN,IN40151,0.00090,16857723,mg/L
184349,PB90,6,TX,TX0150054,NaN,TX54408,0.00635,16498312,mg/L

UNIT_OF_MEASURE             1
CONTAMINANT_CODE            2
RESULT_SIGN_CODE            2
EPA_REGION                 10
PRIMACY_AGENCY_CODE        66
SAMPLE_MEASURE           5516
PWSID                   59963
SAMPLE_ID              221001
SAR_ID                 226282
dtype: int64

./data/swdis/TREATMENT.csv

Skipping line 141507: expected 7 fields, saw 10

Skipping line 398435: expected 7 fields, saw 8
Skipping line 400968: expected 7 fields, saw 8

,COMMENTS_TEXT,FACILITY_ID,PWSID,TREATMENT_ID,TREATMENT_OBJECTIVE_CODE,TREATMENT_PROCESS_CODE
20936,CHLORAMINES,1389,CA0710001,1594,B,200.0
84814,SEDIMENTATION,1674,GA1890001,3457,P,660.0
90357,INHIBITOR,28370,IA2330036,8834,C,999.0
151458,"FILTRATION, CARTRIDGE",28814,MD1231267,6850,F,341.0
312325,NaN,300,PA6430036,01,D,401.0
390279,NaN,4624,WA5386800,13853,C,741.0
78584,NaN,151336535036,FL6535036,15133B02,D,421.0
303681,NaN,301,PA4440325,01,D,421.0
276456,"HYPOCHLORINATION, PRE",7990,OH7720612,38071,D,423.0
313600,NaN,301,PA7010057,01,D,421.0

TREATMENT_OBJECTIVE_CODE        14
TREATMENT_PROCESS_CODE          69
COMMENTS_TEXT                 3133
TREATMENT_ID                 57557
FACILITY_ID                  62455
PWSID                       148463
dtype: int64

./data/swdis/LCR_SAMPLE.csv

,EPA_REGION,PRIMACY_AGENCY_CODE,PWSID,RECONCILIATION_ID,SAMPLE_ID,SAMPLING_END_DATE,SAMPLING_START_DATE
105704,5,MN,MN1860010,NaN,821066,31-DEC-12,01-JAN-10
56637,4,GA,GA1370020,NaN,GA23587,31-DEC-09,01-JAN-07
179236,4,SC,SC3270300,NaN,SC101992,31-DEC-12,01-JAN-10
105328,5,MN,MN1590005,NaN,954692,31-DEC-13,01-JAN-11
57163,4,GA,GA1710027,NaN,GA32157,31-DEC-09,01-JAN-09
74523,5,IL,IL1235125,NaN,IL36005,31-DEC-10,01-JAN-08
48445,4,FL,FL4504903,NaN,FL157564,01-JUN-17,01-JAN-17
224924,8,WY,WY5600298,NaN,WY32054,31-DEC-16,01-JAN-14
207093,10,WA,WA5326800,NaN,5296240,31-DEC-11,01-JAN-09
84900,4,KY,KY0540328,NaN,KY9095,31-DEC-12,01-JAN-10

RECONCILIATION_ID           0
EPA_REGION                 10
PRIMACY_AGENCY_CODE        66
SAMPLING_END_DATE          88
SAMPLING_START_DATE       115
PWSID                   59963
SAMPLE_ID              220999
dtype: int64

./data/swdis/VIOLATION.csv

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3,4,6,9,13,16,21,25,28,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,COMPLIANCE_STATUS_CODE,COMPL_PER_BEGIN_DATE,COMPL_PER_END_DATE,CONTAMINANT_CODE,CORRECTIVE_ACTION_ID,EPA_REGION,FACILITY_ID,IS_HEALTH_BASED_IND,IS_MAJOR_VIOL_IND,LATEST_ENFORCEMENT_ID,...,RULE_FAMILY_CODE,RULE_GROUP_CODE,SAMPLE_RESULT_ID,SEVERITY_IND_CNT,STATE_MCL,UNIT_OF_MEASURE,VIOLATION_CATEGORY_CODE,VIOLATION_CODE,VIOLATION_ID,VIOL_MEASURE
958340,R,01-OCT-09,31-DEC-09,4030,NaN,4,33226,N,Y,42,...,340,300,NaN,NaN,NaN,NaN,MR,03,14548,NaN
1384218,R,01-APR-08,30-JUN-08,2035,NaN,2,72484,N,Y,218,...,320,300,NaN,NaN,NaN,NaN,MR,3,808,NaN
92393,R,01-JAN-09,31-DEC-09,1040,NaN,10,32532,N,Y,5241106,...,330,300,NaN,NaN,NaN,NaN,MR,03,6788812,NaN
522846,R,01-JUL-01,NaN,5000,NaN,5,NaN,N,NaN,206,...,350,300,NaN,NaN,NaN,NaN,MR,52,106,NaN
750212,I,01-JUL-94,30-SEP-94,3100,NaN,5,NaN,N,Y,9440001,...,110,100,NaN,NaN,0.0,NaN,MR,23,9440001,0.0
1333358,R,01-JAN-11,31-DEC-13,2043,NaN,2,NaN,N,Y,5823,...,320,300,NaN,NaN,NaN,NaN,MR,3,14283,NaN
1299633,R,01-JAN-07,31-DEC-09,2378,NaN,2,12869,N,Y,816,...,310,300,NaN,NaN,NaN,NaN,MR,3,739,NaN
1368127,R,01-APR-08,30-JUN-08,3100,NaN,2,NaN,N,NaN,720,...,110,100,NaN,NaN,NaN,NaN,MR,23,108,NaN
1637775,R,01-APR-13,30-JUN-13,2039,NaN,3,100,N,Y,141884921001,...,320,300,NaN,NaN,NaN,NaN,MR,03,1330190,NaN
1743353,R,01-APR-13,30-JUN-13,1041,NaN,3,101,N,Y,143453820003,...,330,300,NaN,NaN,NaN,NaN,MR,03,1334540,NaN

IS_MAJOR_VIOL_IND                 2
IS_HEALTH_BASED_IND               2
PWS_TYPE_CODE                     3
PUBLIC_NOTIFICATION_TIER          3
COMPLIANCE_STATUS_CODE            4
PWS_ACTIVITY_CODE                 4
ORIGINATOR_CODE                   4
RULE_GROUP_CODE                   5
POP_CAT_5_CODE                    5
PRIMARY_SOURCE_CODE               6
VIOLATION_CATEGORY_CODE           7
EPA_REGION                       10
RULE_FAMILY_CODE                 16
UNIT_OF_MEASURE                  20
RULE_CODE                        21
SEVERITY_IND_CNT                 66
PRIMACY_AGENCY_CODE              67
STATE_MCL                       122
VIOLATION_CODE                  124
CONTAMINANT_CODE                500
COMPL_PER_END_DATE             4936
PWS_DEACTIVATION_DATE          5087
CORRECTIVE_ACTION_ID           5677
RTC_DATE                       8430
COMPL_PER_BEGIN_DATE           8664
POPULATION_SERVED_COUNT        8672
VIOL_MEASURE                  10532
SAMPLE_RESULT_ID              16455
FACILITY_ID                   29480
PWSID                        146316
RTC_ENFORCEMENT_ID           320843
LATEST_ENFORCEMENT_ID        405981
VIOLATION_ID                1227625
dtype: int64

./data/swdis/WATER_SYSTEM_FACILITY.csv

Skipping line 20844: expected 22 fields, saw 23
Skipping line 22595: expected 22 fields, saw 23

Skipping line 212438: expected 22 fields, saw 23
Skipping line 213330: expected 22 fields, saw 23
Skipping line 213331: expected 22 fields, saw 23
Skipping line 213382: expected 22 fields, saw 23
Skipping line 217515: expected 22 fields, saw 24
Skipping line 217518: expected 22 fields, saw 23
Skipping line 218082: expected 22 fields, saw 23
Skipping line 218281: expected 22 fields, saw 24
Skipping line 218727: expected 22 fields, saw 23
Skipping line 219219: expected 22 fields, saw 23
Skipping line 219226: expected 22 fields, saw 23
Skipping line 219324: expected 22 fields, saw 23
Skipping line 224406: expected 22 fields, saw 23
Skipping line 224456: expected 22 fields, saw 23
Skipping line 224487: expected 22 fields, saw 23
Skipping line 224535: expected 22 fields, saw 23

Skipping line 490993: expected 22 fields, saw 23

Skipping line 491803: expected 22 fields, saw 23

Skipping line 645679: expected 22 fields, saw 24

Skipping line 814945: expected 22 fields, saw 23
Skipping line 816071: expected 22 fields, saw 23
Skipping line 817714: expected 22 fields, saw 24

Skipping line 822187: expected 22 fields, saw 23
Skipping line 822855: expected 22 fields, saw 23
Skipping line 822856: expected 22 fields, saw 23
Skipping line 825990: expected 22 fields, saw 24
Skipping line 825994: expected 22 fields, saw 23
Skipping line 827206: expected 22 fields, saw 23
Skipping line 827207: expected 22 fields, saw 23
Skipping line 827224: expected 22 fields, saw 23
Skipping line 827241: expected 22 fields, saw 23
Skipping line 829481: expected 22 fields, saw 23
Skipping line 832413: expected 22 fields, saw 23
Skipping line 834722: expected 22 fields, saw 24
Skipping line 834736: expected 22 fields, saw 23
Skipping line 835472: expected 22 fields, saw 23
Skipping line 835577: expected 22 fields, saw 23
Skipping line 839456: expected 22 fields, saw 23
Skipping line 839457: expected 22 fields, saw 23
Skipping line 839472: expected 22 fields, saw 23
Skipping line 839473: expected 22 fields, saw 23
Skipping line 839474: expected 22 fields, saw 23
Skipping line 839526: expected 22 fields, saw 23
Skipping line 842714: expected 22 fields, saw 23
Skipping line 842718: expected 22 fields, saw 23
Skipping line 842719: expected 22 fields, saw 23
Skipping line 846413: expected 22 fields, saw 23
Skipping line 846414: expected 22 fields, saw 23
Skipping line 846416: expected 22 fields, saw 23
Skipping line 846433: expected 22 fields, saw 23
Skipping line 848544: expected 22 fields, saw 23

Skipping line 856755: expected 22 fields, saw 23
Skipping line 861754: expected 22 fields, saw 23
Skipping line 861755: expected 22 fields, saw 23
Skipping line 861756: expected 22 fields, saw 23
Skipping line 862751: expected 22 fields, saw 23
Skipping line 862752: expected 22 fields, saw 23
Skipping line 866118: expected 22 fields, saw 23
Skipping line 869046: expected 22 fields, saw 24
Skipping line 869047: expected 22 fields, saw 24
Skipping line 869310: expected 22 fields, saw 24
Skipping line 869311: expected 22 fields, saw 24
Skipping line 869312: expected 22 fields, saw 24
Skipping line 869314: expected 22 fields, saw 24
Skipping line 869321: expected 22 fields, saw 24
Skipping line 869329: expected 22 fields, saw 24
Skipping line 869330: expected 22 fields, saw 24
Skipping line 869331: expected 22 fields, saw 24
Skipping line 869353: expected 22 fields, saw 23
Skipping line 869362: expected 22 fields, saw 24
Skipping line 869363: expected 22 fields, saw 24
Skipping line 869364: expected 22 fields, saw 24
Skipping line 869386: expected 22 fields, saw 24
Skipping line 869567: expected 22 fields, saw 23
Skipping line 869716: expected 22 fields, saw 24
Skipping line 869753: expected 22 fields, saw 24
Skipping line 869789: expected 22 fields, saw 24
Skipping line 869836: expected 22 fields, saw 24
Skipping line 869967: expected 22 fields, saw 23
Skipping line 870262: expected 22 fields, saw 23
Skipping line 870263: expected 22 fields, saw 23
Skipping line 870269: expected 22 fields, saw 23
Skipping line 870270: expected 22 fields, saw 23
Skipping line 870271: expected 22 fields, saw 23
Skipping line 870272: expected 22 fields, saw 23
Skipping line 870273: expected 22 fields, saw 23
Skipping line 870274: expected 22 fields, saw 23
Skipping line 870279: expected 22 fields, saw 23
Skipping line 870280: expected 22 fields, saw 23
Skipping line 870379: expected 22 fields, saw 23
Skipping line 870479: expected 22 fields, saw 23
Skipping line 870482: expected 22 fields, saw 23
Skipping line 870486: expected 22 fields, saw 23
Skipping line 870505: expected 22 fields, saw 24
Skipping line 870509: expected 22 fields, saw 23
Skipping line 870531: expected 22 fields, saw 23
Skipping line 870532: expected 22 fields, saw 23
Skipping line 870722: expected 22 fields, saw 23
Skipping line 871349: expected 22 fields, saw 23
Skipping line 871361: expected 22 fields, saw 23
Skipping line 871376: expected 22 fields, saw 23
Skipping line 871379: expected 22 fields, saw 23
Skipping line 871380: expected 22 fields, saw 23
Skipping line 871381: expected 22 fields, saw 23
Skipping line 871394: expected 22 fields, saw 23
Skipping line 871395: expected 22 fields, saw 23
Skipping line 871396: expected 22 fields, saw 23
Skipping line 871572: expected 22 fields, saw 23
Skipping line 871607: expected 22 fields, saw 24
Skipping line 871609: expected 22 fields, saw 24
Skipping line 871701: expected 22 fields, saw 23
Skipping line 871702: expected 22 fields, saw 23
Skipping line 871734: expected 22 fields, saw 23
Skipping line 871735: expected 22 fields, saw 23
Skipping line 871736: expected 22 fields, saw 23
Skipping line 872118: expected 22 fields, saw 23
Skipping line 874624: expected 22 fields, saw 23
Skipping line 874628: expected 22 fields, saw 23
Skipping line 876546: expected 22 fields, saw 23
Skipping line 876547: expected 22 fields, saw 23
Skipping line 876548: expected 22 fields, saw 23
Skipping line 876549: expected 22 fields, saw 23
Skipping line 876603: expected 22 fields, saw 23
Skipping line 876606: expected 22 fields, saw 23
Skipping line 876607: expected 22 fields, saw 23
Skipping line 876612: expected 22 fields, saw 23
Skipping line 876622: expected 22 fields, saw 23
Skipping line 876657: expected 22 fields, saw 23
Skipping line 876658: expected 22 fields, saw 23
Skipping line 876660: expected 22 fields, saw 23
Skipping line 876661: expected 22 fields, saw 23
Skipping line 876664: expected 22 fields, saw 23
Skipping line 876710: expected 22 fields, saw 23
Skipping line 876711: expected 22 fields, saw 23
Skipping line 876756: expected 22 fields, saw 23
Skipping line 876760: expected 22 fields, saw 23
Skipping line 878805: expected 22 fields, saw 23
Skipping line 878894: expected 22 fields, saw 24
Skipping line 878939: expected 22 fields, saw 23
Skipping line 879302: expected 22 fields, saw 23
Skipping line 879334: expected 22 fields, saw 23
Skipping line 879445: expected 22 fields, saw 24
Skipping line 879446: expected 22 fields, saw 24
Skipping line 879454: expected 22 fields, saw 24
Skipping line 879465: expected 22 fields, saw 23
Skipping line 879575: expected 22 fields, saw 23
Skipping line 879578: expected 22 fields, saw 23
Skipping line 879591: expected 22 fields, saw 23
Skipping line 879592: expected 22 fields, saw 23
Skipping line 879664: expected 22 fields, saw 24
Skipping line 879724: expected 22 fields, saw 24
Skipping line 879836: expected 22 fields, saw 23
Skipping line 880428: expected 22 fields, saw 23
Skipping line 880429: expected 22 fields, saw 23
Skipping line 880430: expected 22 fields, saw 23
Skipping line 880431: expected 22 fields, saw 23
Skipping line 880507: expected 22 fields, saw 23

Skipping line 892593: expected 22 fields, saw 23
Skipping line 892594: expected 22 fields, saw 23
Skipping line 893543: expected 22 fields, saw 23
Skipping line 893687: expected 22 fields, saw 23
Skipping line 893688: expected 22 fields, saw 23
Skipping line 893689: expected 22 fields, saw 23
Skipping line 894044: expected 22 fields, saw 23
Skipping line 894358: expected 22 fields, saw 24
Skipping line 894368: expected 22 fields, saw 24
Skipping line 894372: expected 22 fields, saw 23
Skipping line 894379: expected 22 fields, saw 23
Skipping line 894521: expected 22 fields, saw 23
Skipping line 894689: expected 22 fields, saw 24
Skipping line 895014: expected 22 fields, saw 24

Skipping line 1183545: expected 22 fields, saw 23

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4,7,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,AVAILABILITY_CODE,EPA_REGION,FACILITY_ACTIVITY_CODE,FACILITY_DEACTIVATION_DATE,FACILITY_ID,FACILITY_NAME,FACILITY_TYPE_CODE,FILTRATION_STATUS_CODE,IS_SOURCE_IND,IS_SOURCE_TREATED_IND,...,PWSID,PWS_ACTIVITY_CODE,PWS_DEACTIVATION_DATE,PWS_TYPE_CODE,SELLER_PWSID,SELLER_PWS_NAME,SELLER_TREATMENT_CODE,STATE_FACILITY_ID,SUBMISSION_STATUS_CODE,WATER_TYPE_CODE
121416,NaN,9,A,NaN,1768,WELL 61-01 - TREATED,TP,NaN,N,NaN,...,CA3910001,A,NaN,CWS,NaN,NaN,NaN,114,Y,NaN
1354869,NaN,5,A,NaN,46005817,46005817,DS,NaN,N,NaN,...,WI4600581,A,NaN,TNCWS,NaN,NaN,NaN,46005817,Y,NaN
1270620,P,3,I,01-SEP-84,1,DRILLED WELL,WL,NaN,Y,U,...,VA3095465,I,01-SEP-84,TNCWS,NaN,NaN,NaN,NaN,Y,GW
176854,P,1,A,NaN,42868,WELL WEST,WL,NaN,Y,N,...,CT0610074,A,NaN,TNCWS,NaN,NaN,NaN,21029,Y,GW
529176,P,5,I,01-JAN-93,1,WELL # 01,WL,NaN,Y,U,...,MI5420043,I,01-JAN-93,TNCWS,NaN,NaN,NaN,NaN,Y,GW
198904,P,3,A,NaN,5365,SEASONS WELL,WL,NaN,Y,Y,...,DE0000991,A,NaN,CWS,NaN,NaN,NaN,216860,Y,GW
418388,O,6,I,01-APR-02,13525,DISTRIBUTION SYSTEM,DS,NaN,N,NaN,...,LA1011002,I,15-APR-02,CWS,NaN,NaN,NaN,NaN,Y,NaN
1072346,P,4,I,01-DEC-03,257,NEW WELL,WL,NaN,Y,N,...,SC0260035,N,03-OCT-06,CWS,NaN,NaN,NaN,NaN,Y,GW
644516,NaN,4,A,NaN,42016,ELEVATED STORAGE ST001,ST,NaN,N,NaN,...,MS0810012,A,NaN,CWS,NaN,NaN,NaN,ST001,Y,NaN
1371270,P,5,A,NaN,2,AV465,WL,NaN,Y,Y,...,WI7500726,A,NaN,CWS,NaN,NaN,NaN,2,Y,GW

WATER_TYPE_CODE                    3
IS_SOURCE_IND                      3
FACILITY_ACTIVITY_CODE             4
PWS_TYPE_CODE                      5
SUBMISSION_STATUS_CODE             5
FILTRATION_STATUS_CODE             5
AVAILABILITY_CODE                  5
EPA_REGION                        10
IS_SOURCE_TREATED_IND             15
FACILITY_TYPE_CODE                24
PWS_ACTIVITY_CODE                 48
SELLER_TREATMENT_CODE             86
PRIMACY_AGENCY_CODE              295
PWS_DEACTIVATION_DATE          10239
FACILITY_DEACTIVATION_DATE     10439
SELLER_PWS_NAME                11225
SELLER_PWSID                   11361
FACILITY_ID                   234705
STATE_FACILITY_ID             255430
PWSID                         418676
FACILITY_NAME                 521496
dtype: int64

./data/swdis/SERVICE_AREA.csv

,EPA_REGION,IS_PRIMARY_SERVICE_AREA_CODE,PRIMACY_AGENCY_CODE,PWSID,PWS_ACTIVITY_CODE,PWS_TYPE_CODE,SERVICE_AREA_TYPE_CODE
355991,2,Y,VI,VI0000212,I,NTNCWS,HM
304096,3,Y,PA,PA4070828,A,TNCWS,RS
164387,5,Y,MN,MN5030260,A,TNCWS,PA
360734,10,Y,WA,WA5301265,A,CWS,RA
182189,7,Y,MO,MO5212122,I,TNCWS,RS
255602,2,Y,NY,NY3815570,I,TNCWS,RS
42231,4,NaN,FL,FL1320359,I,TNCWS,MH
402216,3,NaN,WV,WV9915023,I,TNCWS,RS
79333,5,NaN,IL,IL0005546,I,TNCWS,SC
347153,3,Y,VA,VA1173010,A,CWS,RA

IS_PRIMARY_SERVICE_AREA_CODE         2
PWS_TYPE_CODE                        4
PWS_ACTIVITY_CODE                    5
EPA_REGION                          10
SERVICE_AREA_TYPE_CODE              28
PRIMACY_AGENCY_CODE                 66
PWSID                           366392
dtype: int64

./data/swdis/WATER_SYSTEM.csv

Skipping line 1178: expected 45 fields, saw 46

Skipping line 51215: expected 45 fields, saw 47

Skipping line 213529: expected 45 fields, saw 46

Skipping line 249724: expected 45 fields, saw 47

Skipping line 387519: expected 45 fields, saw 46

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3,4,8,9,10,15,17,18,20,24,25,26,27,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ADDRESS_LINE1,ADDRESS_LINE2,ADMIN_NAME,ALT_PHONE_NUMBER,CDS_ID,CITY_NAME,COUNTRY_CODE,DBPR_SCHEDULE_CAT_CODE,EMAIL_ADDR,EPA_REGION,...,PWS_NAME,PWS_TYPE_CODE,SEASON_BEGIN_DATE,SEASON_END_DATE,SERVICE_CONNECTIONS_COUNT,SOURCE_PROTECTION_BEGIN_DATE,SOURCE_WATER_PROTECTION_CODE,STATE_CODE,SUBMISSION_STATUS_CODE,ZIP_CODE
269856,NaN,16804 MCCORMACK LANE,CHANNEL VIEW COTTAGES,NaN,NaN,CLAYTON,US,NaN,NaN,2,...,CHANNEL VIEW COTTAGES,TNCWS,05-21,10-06,1,NaN,NaN,NY,Y,13624
39079,NaN,565 EAST MAIN STREET,HYMAN ESTRA,NaN,NaN,BRANFORD,US,NaN,NaN,1,...,HYMAN ESTRA,TNCWS,01-01,12-31,1,NaN,NaN,CT,Y,06405
56912,NaN,3269 SW 157TH ST RD,MARION OAKS UTILITIES SD,NaN,NaN,OCALA,US,NaN,NaN,4,...,MARION OAKS UTILITIES SD,CWS,01-01,12-31,501,NaN,NaN,FL,Y,32670
282671,NaN,NaN,ODUM RESORT CENTER INC,NaN,NaN,ACCORD,US,NaN,NaN,2,...,ODUM RESORT CENTER INC,TNCWS,01-01,12-31,6,NaN,NaN,NY,Y,12404
215084,NaN,NaN,CAROLE PYLE OR MGR,NaN,NaN,CHARLOTTE,US,NaN,NaN,4,...,DULIN'S GROVE CHURCH DAYCARE,NTNCWS,01-01,01-02,1,NaN,NaN,NC,Y,28227
288175,1355 WILDCAT RD,NaN,"BROWN, KURT",NaN,NaN,GREENVILLE,US,NaN,kbrown@wildcatwoodscampground.com,5,...,WILDCAT WOODS CAMPGROUND,TNCWS,01-01,12-31,53,NaN,N,OH,Y,45331
301210,C/O RESIDENT MANAGER,22395 WEST RIVER ROAD,RIVERVIEW MOBILE HOME PARK,NaN,NaN,GRAND RAPIDS,US,NaN,NaN,5,...,RIVERVIEW MOBILE HOME PARK,CWS,01-01,12-31,22,NaN,NaN,OH,Y,43522
19706,1657 Riverside Avenue,NaN,"MARCH, TOM",NaN,NaN,REDDING,US,NaN,Thomas.March@dot.ca.gov,9,...,CALTRANS-HONEY LAKE SRRA,TNCWS,01-01,12-31,1,NaN,NaN,CA,Y,96001
55532,900 E. STRAWBRIDGE AVE.,NaN,MIKE MCNEES,NaN,NaN,MELBOURNE,US,1.0,NaN,4,...,"MELBOURNE, CITY OF",CWS,NaN,NaN,58012,NaN,NaN,FL,Y,32901
333657,645LANCASTERPIKE,NaN,STEVEANDTERESASPADE,NaN,NaN,NEW PROVIDENCE,US,NaN,NaN,3,...,COUNTRY HILL RESTAURANT,TNCWS,01-01,12-31,1,NaN,NaN,PA,Y,17560

IS_WHOLESALER_IND                      2
SUBMISSION_STATUS_CODE                 2
SOURCE_WATER_PROTECTION_CODE           2
IS_GRANT_ELIGIBLE_IND                  2
OUTSTANDING_PERFORMER                  3
IS_SCHOOL_OR_DAYCARE_IND               3
GW_SW_CODE                             3
PRIMACY_TYPE                           3
COUNTRY_CODE                           4
PWS_TYPE_CODE                          4
DBPR_SCHEDULE_CAT_CODE                 4
POP_CAT_2_CODE                         5
PWS_ACTIVITY_CODE                      6
PRIMARY_SOURCE_CODE                    7
POP_CAT_3_CODE                         7
OWNER_TYPE_CODE                        7
POP_CAT_4_CODE                         9
LT2_SCHEDULE_CAT_CODE                 10
POP_CAT_11_CODE                       11
POP_CAT_5_CODE                        11
EPA_REGION                            13
STATE_CODE                            61
PRIMACY_AGENCY_CODE                   67
SEASON_END_DATE                      254
SEASON_BEGIN_DATE                    263
OUTSTANDING_PERFORM_BEGIN_DATE       277
ALT_PHONE_NUMBER                     675
PHONE_EXT_NUMBER                    1437
CDS_ID                              1505
SOURCE_PROTECTION_BEGIN_DATE        1659
SERVICE_CONNECTIONS_COUNT           7656
POPULATION_SERVED_COUNT            10223
PWS_DEACTIVATION_DATE              10284
FAX_NUMBER                         28457
CITY_NAME                          31228
ZIP_CODE                           53492
EMAIL_ADDR                         54379
ADDRESS_LINE2                     119814
ORG_NAME                          151409
ADDRESS_LINE1                     180159
PHONE_NUMBER                      204527
ADMIN_NAME                        315329
PWS_NAME                          378554
PWSID                             421244
dtype: int64

./data/swdis/VIOLATION_ENF_ASSOC.csv

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       ENFORCEMENT_ID      PWSID VIOLATION_ID
1677                3  050594602         2209
89047              33  AK2249099         2506
277700        1223016  CA1000213      1223028
404958              7  CO0154117            9
593346            306  CT1690184       272605
346035        4021314  CO0107321      4001510
421902        4041932  CO0207510      4015016
551415              7  CT0969404           10
681788        1090038  GA2770004        21725
519919           5309  CT0690244       180604

PWSID              27589
ENFORCEMENT_ID    175641
VIOLATION_ID      224123
dtype: int64

./data/swdis/GEOGRAPHIC_AREA.csv

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ANSI_ENTITY_CODE,AREA_TYPE_CODE,CITY_SERVED,COUNTY_SERVED,EPA_REGION,GEO_ID,PRIMACY_AGENCY_CODE,PWSID,PWS_ACTIVITY_CODE,PWS_TYPE_CODE,STATE_SERVED,TRIBAL_CODE,ZIP_CODE_SERVED
572519,79,CN,NaN,Putnam,3,21314902,WV,WV3304003,N,CWS,NaN,NaN,NaN
194358,19,CN,NaN,Penobscot,1,21565190,ME,ME0024768,A,TNCWS,NaN,NaN,NaN
519565,3,CN,NaN,Bennington,1,21429659,VT,VT0004611,I,TNCWS,NaN,NaN,NaN
555777,17,CN,NaN,Chippewa,5,21618939,WI,WI6090751,A,TNCWS,NaN,NaN,NaN
122947,111,CN,NaN,McHenry,5,21183456,IL,IL1115250,A,CWS,NaN,NaN,NaN
24830,027,CN,NaN,Inyo,9,21658727,CA,CA1400181,A,TNCWS,NaN,NaN,NaN
438901,3,CN,NaN,Benton,10,21463418,OR,OR4190943,N,TNCWS,NaN,NaN,NaN
298243,45,CN,NaN,Cleveland,4,21258280,NC,NC0123634,I,TNCWS,NaN,NaN,NaN
517633,21,CN,NaN,Rutland,1,21451091,VT,VT0001603,I,TNCWS,NaN,NaN,NaN
477827,135,CN,NaN,Yankton,8,21679462,SD,SD4600865,A,CWS,NaN,NaN,NaN

PWS_TYPE_CODE               4
AREA_TYPE_CODE              5
PWS_ACTIVITY_CODE           5
EPA_REGION                 10
STATE_SERVED               55
PRIMACY_AGENCY_CODE        66
TRIBAL_CODE               247
ANSI_ENTITY_CODE          418
ZIP_CODE_SERVED          1847
COUNTY_SERVED            1939
CITY_SERVED             19524
PWSID                  401692
GEO_ID                 579068
dtype: int64